<form #form_login="ngForm" (ngSubmit)="iniciarSesion()">
  <div class="form-group">
    <label for="expleUserName">Nombre de Usuario</label>
    <input #input_username name="input_username" [(ngModel)]=datosUsuario.userName type="text" class="form-control" id="expleUserName" aria-describedby="userNameHelp" placeholder="Enter username">
    <small id="userNameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Contraseña</label>
    <input #input_password name="input_password" [(ngModel)]=datosUsuario.password type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
