<div *ngIf=usuarioLoggeado class="container-fluid">
  <app-header [usuarioLoggeado]=usuarioLoggeado (cerrarSesion)="logOut()"></app-header>
  <router-outlet></router-outlet>
</div>
<div *ngIf=!usuarioLoggeado class="container">
  <app-login (iniciandoSesion)=iniciarSesion($event)></app-login>
</div>
